@import '/src/assets/scss/variables';

.games-item {
    background-color: $secondary-bg;
    display: flex;
    height: 12rem;
    gap: 2rem;
&:not(&:first-child){
    margin: 1rem 0;

}
&:last-child{
    margin-bottom: 3rem;
}
    &_img_container {
        width: 12rem;
        height: 100%;
        flex-shrink: 0;

    }

    &_img {
        height: 100%;
        width: 100%;
    }

    &_desc {
        display: flex;
        flex-direction: column;
        color: $primary-color;

        .title {
            font-size: $text-xl;
color: $secondary-color;
            font-weight: bold;
        }

        .date {
            font-size: $text-lg;
            
        }

        .description {
            font-size: $text-md;
            margin-top: 1.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

        }
    }

    &_number {
        font-size: $text-xl;
        background: $light-bg;
        color: $primary-color;
        align-self: center;
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
        text-align: center;
        margin-right :2rem ;
        flex-shrink: 0;
    }
}
@media only screen and (max-width:$sm) {
    .games-item {
        position: relative;
        flex-wrap: wrap;
        height: auto;
        &_number {
            position: absolute;
            top: 5%;
            right: 3%;
        }
        &_img_container {
            width: 100%;
            height:12rem ;
            object-fit: contain;

        }
        &_img {
        object-fit: cover;
        }
        &_desc {
            padding: 1rem;
        }

    }   
}