<div class="games-item">
  <div class="games-item_img_container">
  <img class="games-item_img" [src]="game?.image"/>
</div>
  <div class="games-item_desc">
    <span class="title">{{game?.title}}</span>
    <span class="date">Release Date: {{game?.releasedDate | date: 'dd/MM/yyyy'}}</span>
    <span class="description">{{game?.description}}</span>
  </div>
  <div class="games-item_number">
    <span>{{game?.score}}</span></div>
</div>
