<div class="games-container">
  <app-games-filter></app-games-filter>
  <div class="games-list">
    <ng-container *ngFor="let game of games$ | async">
      <app-games-item [game]="game"></app-games-item>
    </ng-container>
  </div>
</div>
