<div class="games-filter">
  <div class="games-filter_title">
    Filter Results </div>
  <div class="games-filter_form">
    <div class="form-input">
      <label for="name">Name(cotains)</label>
      <input id="name" type="text" placeholder="Text string" />
    </div>
    <div class="input-group">
      <div class="form-input">
        <label for="score">Minimum Score</label>
        <input id="score" type="number" placeholder="1-10" />
      </div>
     
      <div class="form-input form-select">
        <label for="">Order By</label>
        <div class="filter-select"> <button class="btn-up btn-primary">
          <svg class="icon-arrow-up">
            <use xlink:href="assets/symbol-defs.svg#icon-arrow-up2"></use>
          </svg>
        </button>
        <select>
          <option value="realaseDate">Release Date</option>
          <option value="score">Score</option>
          <option value="name">Name</option>
        </select>
      </div>
      </div>
      <button class="btn-primary btn-clear">Clear</button>

    </div>
  </div>
</div>